<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ 'assets/css/poole.css' | relative_url }}">
  <link rel="stylesheet" href="{{ 'assets/css/syntax.css' | relative_url }}">
  <link rel="stylesheet" href="{{ 'assets/css/hyde.css' | relative_url }}">
  <link rel="stylesheet" href="{{ 'assets/css/github.css' | relative_url }}">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cinzel+Decorative|Cinzel|Raleway|Roboto+Mono">
  
  <!-- Page-specific CSS -->
  {%- if page.custom_css -%}
    {%- for stylesheet in page.custom_css -%}
      {%- assign custom_css =  'assets/css/' | append: stylesheet | append: '.css' | relative_url -%}
      <link rel="stylesheet" href="{{ custom_css }}" media="screen" type="text/css">
    {%- endfor -%}
  {%- endif -%}

  <!-- Page-specific JS -->
  {% if page.custom_js %}
    {% for js_file in page.custom_js %}
      {%- assign custom_js =  'assets/javascript/' | append: js_file | append: '.js' | relative_url -%}
      <script src='{{ custom_js }}' type="text/javascript"></script>
    {% endfor %}
  {% endif %}

  <!-- Icons -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ 'assets/images/apple-touch-icon.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ 'assets/images/favicon-32x32.png' | relative_url }}"> 
  <link rel="icon" type="image/png" sizes="16x16" href="{{ 'assets/images/favicon-16x16.png' | relative_url }}">
  <link rel="shortcut icon" href="{{ 'assets/images/favicon.ico' | relative_url }}">
  <link rel="manifest" href="{{ 'assets/site.webmanifest' | relative_url }}">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{/atom.xml | relative_url }}">
</head>
